.sacola{
	background-image: url(sacola.png);
	background-repeat: no-repeat;
	background-position: top right;
	font-size: 14px;
	padding-right: 35px;
	text-align:	right;
	width: 140px;
	padding-top: 8px
}

.menu-opcoes ul{
	font-size: 15px;
}

.menu-opcoes a{
	color: black;
	text-decoration: none;
}

.menu-opcoes ul li{
	display: inline; /*Colaca o menu na horizontal*/
	margin-left: 20px;
}

/*Coloca o menu a direita e em cima do header*/
header{
	position: relative;
}

.menu-opcoes{
	position: absolute;
	bottom: 0;
	right: 0;
}

/*Ao passar o mouse por cima do menu-opções, muda-se a cor do link para azul, usando pseudo classes*/
.menu-opcoes a:hover {
	color: #007dc6;
}

/*Ao clicar o link muda de cor, usando pseudo classes*/
.menu-opcoes a:active {
	color: red;
}

/*Posiciona a sacola a direita e no topo do header*/
.sacola{
	position: absolute;
	top: 0;
	right: 0;
}

.container{
	margin: 0 auto;
	width: 1000px;
}

/*Esconde as sublistas criadas em menu-departamentos, usando pseudo-classes */
.menu-departamentos li ul {
	display: none;
}
/*Quando o usuário passar o mouse por cima, as sublistas criadas serão mostradas, usando pseudo-classes */
.menu-departamentos li:hover ul {
	display: block;
}

/*Coloca o background de cada sublista em cinza, usando pseudo-classes*/
.menu-departamentos ul ul li {
	background-color: #dcdcdc;
}

/*Coloca o hifen antes de cada frase das sublistas, usando pseudo-classes-elementos*/
.menu-departamentos li li a:before {
	content: '- ';
}

/*Coloca uma estrela antes de cada frase das sublistas e ajusta a largura das bordas, usando pseudo-classes-elementos*/
.menu-departamentos li li a:before {
	content: '\272A';
	padding-right: 3px;
}
	
.busca,
.menu-departamentos{
	background-color: #DCDCDC;
	font-weight: bold; /*Coloca a palavra em negrito*/
	text-transform: uppercase;

	margin-right: 10px;
	width: 230px;
}

.busca h2,
.busca form,
.menu-departamentos h2{
	margin: 10px;
}

.menu-departamentos li{
	background-color:white;
	margin-bottom: 1px;
	padding: 5px 10px;
}

.menu-departamentos a{
	color: #333333;
	text-decoration: none;/*Tira os sublinhados das palavras*/
}

.busca input[type=search]{
	width: 170px;
}


.busca,
.menu-departamentos{
	float: left;/*Coloca busca e menu-departamentos flutuando a esquerda da imagem*/
}

.menu-departamentos{
	clear: left;
}

/*
.banner-destaque img{
	width: 700px;
	height: 500px;
	
}
*/

.destaque{
	margin-top: 10px;
}

.menu-departamentos{
	margin-top: 10px;
	padding-bottom: 10px;
}

/*Coloca um simbolo antes de cada frase das sublistas, ajusta a largura das bordas e dixa o simbolo transparante com opacity, usando pseudo-classes-elementos*/
.painel h2:before {
	content: '\2756';
	padding-right: 5px;
	opacity: 0.4;
}
	
.painel{
	margin: 10px 2px;
	padding: 10px;
	width: 470px;
}

/*Deixa as bordas dos paineis arredondadas*/
.painel {
	border-radius: 4px;
	box-shadow: 1px 1px 4px #999;
	/*box-shadow: inset 1px 1px 4px #999; coloca bordas internas ao elemento*/
}

/*Coloca de forma sútil um sombreamento em branco nas tags h2
.painel h2 {
	text-shadow: 3px 3px 2px #FFF;
}
*/
.painel h2 {
	text-shadow: 1px 1px 2px rgba(255,255,255,0.3);
}

/*Colocando gradiente no painel de novidades*/
.novidades {
	background-color: #f5dcdc;
	background: linear-gradient(#f5dcdc, #bebef4);
}

.novidades{
	float:left;
}

.mais-vendidos{
	float:right;
}

.painel li{
	display: inline-block;
	vertical-align: top;
	width: 135px;

	margin: 0px;
	padding-bottom: 10px;
}

.painel h2{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;

	margin-bottom: 10px;
}

.painel a{
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

/*colocando gradiente no painel mais vendidos*/
.mais-vendidos {
	background: #dcdcf5;
	background: linear-gradient(#dcdcf5, #f4bebe);
}
	
/*rodapé*/

footer {
	background-image: url(../img/fundo-rodape.png);
	clear: both;
	padding: 20px 0;
}

footer .container {
	position: relative;
}
	
.social {
	position: absolute;
	top: 12px;
	right: 0;
}

.social li {
	float: left;
	margin-left: 25px;
}

.social a {
	/* tamanho da imagem */
	height: 32px;
	width: 32px;
	/* image replacement */
	display: block;
	text-indent: -9999px;
}


.social a[href*="facebook.com"] {
	background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../img/googleplus.png);
}


		
	