.sacola{
	background-image: url(sacola.png);
	background-repeat: no-repeat;
	background-position: top right;
	font-size: 14px;
	padding-right: 35px;
	text-align:	right;
	width: 140px;
	padding-top: 8px
}

.menu-opcoes ul{
	font-size: 15px;
}

.menu-opcoes a{
	color: #003366;
}

.menu-opcoes ul li{
	display: inline; /*Colaca o menu na horizontal*/
	margin-left: 20px;
}

/*Coloca o menu a direita e em cima do header*/
header{
	position: relative;
}

.menu-opcoes{
	position: absolute;
	bottom: 0;
	right: 0;
}

/*Posiciona a sacola a direita e no topo do header*/
.sacola{
	position: absolute;
	top: 0;
	right: 0;
}

.container{
	margin: 0 auto;
	width: 1000px;
}

.busca,
.menu-departamentos{
	background-color: #DCDCDC;
	font-weight: bold; /*Coloca a palavra em negrito*/
	text-transform: uppercase;

	margin-right: 10px;
	width: 230px;
}

.busca h2,
.busca form,
.menu-departamentos h2{
	margin: 10px;
}

.menu-departamentos li{
	background-color:white;
	margin-bottom: 1px;
	padding: 5px 10px;
}

.menu-departamentos a{
	color: #333333;
	text-decoration: none;/*Tira os sublinhados das palavras*/
}

.busca input[type=search]{
	width: 170px;
}


.busca,
.menu-departamentos{
	float: left;/*Coloca busca e menu-departamentos flutuando a esquerda da imagem*/
}

.menu-departamentos{
	clear: left;
}

/*
.banner-destaque img{
	width: 650px;
	height: 500px;
}
*/
.destaque{
	margin-top: 10px;
}

.menu-departamentos{
	margin-top: 10px;
	padding-bottom: 10px;
}

.painel{
	margin: 10px 2px;
	padding: 10px;
	width: 470px;
}

.novidades{
	float:left;
}

.mais-vendidos{
	float:right;
}

.painel li{
	display: inline-block;
	vertical-align: top;
	width: 135px;

	margin: 0px;
	padding-bottom: 10px;
}

.painel h2{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;

	margin-bottom: 10px;
}

.painel a{
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

.novidades{
	background-color: #F5DCDC;
}

.mais-vendidos{
	background-color: #DCDCF5;
}

