
.container{
	margin: 0 auto;
	width: 1000px;
}

.painel{
	margin: 10px 0px;
	padding: 10px;
	width: 490px;
}

.novidades{
	float:left;
}


.painel li{
	display: inline-block;
	vertical-align: top;
	width: 135px;

	margin: 0px;
	padding-bottom: 10px;
}

.painel a{
	color: #333;
	font-size: 14px;
	text-decoration: none;
    display: flex;
    text-align: center;
}

/*
.painel h2{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;

	margin-bottom: 10px;
}

/*
.novidades{
	background-color: #F5DCDC;
}
*/
