
/*Mudar apenas a primeira linha do primeiro parágrafo que não é precedido por outros parágrafos, usando pseudo classes*/
:not(p) + p:first-line {
	font-variant: small-caps;
}
/*Coloca a primeira letra de cada parágrafo em negrito, usando pseudo classes*/
p:first-letter {
	font-weight: bold;
}

/*Retira a indentação do primeiro parágrafo após a tag h1, que neste caso é o título, usando pseudo classes*/
h1 + p {
	text-indent: 0;
}

/*Coloca a primeira frase de todos parágrafos com letras diferentes, usando pseudo classes
p:first-line {
	font-variant: small-caps;
}
*/	
p{
	/**Colore as letras de preto e o fundo de branco sendo esse o padrão do Sistema Operacional**/
	color:black;
	background-color: white;

	/**Alinha o texto a esquerda, direita ou justifica com justify**/
	text-align: justify;

	padding: 0px 45px; /* aplica-se 10px acima e 15px a direita, se passar assim: 10 px 15px 5px 20px, irá se aplicar
	10px cima, 15px direita, 5 px baixo, 20px esquerda, lembrar do sentido horário. O padding é a distância do elemento
	até a sua borda*/

	/*margin: 0 auto; Define a marge de forma automática, deixando a responsabilidade para o navegador*/

	/*----Definindo a Marge de forma manual----*/
	/*
	height: 300px;
	width: 300px;
	*/
	text-indent: 15px;
}

body{
	/*Modificando o estilo do corpo segundo o exercício 1 pág 36, alterando a cor e a fonte do corpo*/
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

	/**font-family: "Arial", "Helvetica", sans-serif;Verifica no So se existe a fonte Arial, se não existir usa a Helvetica, caso não exista ele busca
	qualquer fonte da família sans-serif**/

	/**Configura as bordas da página**/
	border-color: black;
	border-style: groove;
	border-width: 1px;

	/*Centraliza o corpo da imagem*/
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}

/**Permite o uso de uma imagem ao fundo de um elemento**/
h1{
	background-image: url(sobre-background.jpg);
	padding: 10px;
}


/*Borda que separa os conteudos*/
h2{
	border-bottom: 2px solid #333333;
	margin-top: 30px;
}

h3{
	border-bottom: 2px solid #333333;
}

figure{
	/*Edita as imagens com as propriedades desejadas*/
	background-color: #F2EDED; /*Fundo imagem cinza, se usa mais essa notação hexadecimal, devido a compatibilidade com os navegadores*/
	border: 1px solid #ccc; /*Borda sutil*/
	text-align: center; /*coloca as imagens ao centro*/
	padding: 15px;
	margin: 30px;
}

figcaption{
	/*Modifica a legenda das imagens colocando-as em itálico*/
	font-style: italic;
	margin-top: 10px;
}

#historia{
	/*modifica a cor da letra e centraliza o texto, onde há o id história 
	na arquivo sobre.html*/
	color: green;
	text-align: center;
}

/*Obs: Não entendi muito bem o que é Seletores Descendentes*/
#rodape{
	color:#777;
	margin: 30px 0;
	padding: 30px 0;
}

#rodape img{/*Pra que se usa img na frente, qual a diferença faz?*/
	/*Modifica apenas a imagem selecionada, e seus filhos, referenciando o id desejado*/
	margin-right: 30px;
	vertical-align: middle;
	width: 94px;
}

#centro-distribuicao img{
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

#familia-pelho{
	float: right;/*Aqui se usou o conceito de flutuação, colocando a imagem a direita do texto, 
	deixando o design mais elegante*/
	margin: 55px 0px 5px 10px;
}





